html{
    width: 60%;
    margin: 20px auto;
    background-color: gray;
}
body{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    padding:  10px;  
    padding-top:20px;
}
h1{
    font-weight: bold;
    color: blue;
}
#align label{
    float: left;
    width: 10em;
    text-align: right;
}
#align input {
    margin-left: .5em;
    margin-bottom: .5em;
}
div{
    padding-top: 10px;
}
#submit {
    margin:  3px 0 10px 0;
}
span {
    color: red;
    font-weight: bold;
}

